# –û–±—Ä–∞–±–æ—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö

**–†–∞–∑–¥–µ–ª—ã:**
- [–ò–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ –∏ –∑–∞–≥—Ä—É–∑–∏–º –¥–∞–Ω–Ω—ã–µ](#–∏–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º-–±–∏–±–ª–∏–æ—Ç–µ–∫–∏-–∏-–∑–∞–≥—Ä—É–∑–∏–º-–¥–∞–Ω–Ω—ã–µ)
- [–ê–Ω–∞–ª–∏–∑ –∏ –æ—á–∏—Å—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö](#–∞–Ω–∞–ª–∏–∑-–∏-–æ—á–∏—Å—Ç–∫–∞-–¥–∞–Ω–Ω—ã—Ö)
- [Feature Enginnering](#Feature-Enginnering)
    - [–ü–µ—Ä–≤–∏—á–Ω–∞—è-–æ–±—Ä–∞–±–æ—Ç–∫–∞](#–ø–µ—Ä–≤–∏—á–Ω–∞—è-–æ–±—Ä–∞–±–æ—Ç–∫–∞)
    - [–ö–æ–¥–∏—Ä–æ–≤–∞–Ω–∏–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤](#–∫–æ–¥–∏—Ä–æ–≤–∞–Ω–∏–µ-–∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã—Ö-–ø—Ä–∏–∑–Ω–∞–∫–æ–≤)
    - [–£–¥–∞–ª–µ–Ω–∏–µ –Ω–µ–Ω—É–∂–Ω—ã—Ö —Å—Ç–æ–ª–±—Ü–æ–≤](#—É–¥–∞–ª–µ–Ω–∏–µ-–Ω–µ–Ω—É–∂–Ω—ã—Ö-—Å—Ç–æ–ª–±—Ü–æ–≤)
- [–†–∞–∑–¥–µ–ª–µ–Ω–∏–µ –∏ —Å–æ—Ö—Ä–∞–Ω–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö](#—Ä–∞–∑–¥–µ–ª–µ–Ω–∏–µ-–∏-—Å–æ—Ö—Ä–∞–Ω–µ–Ω–∏–µ-–¥–∞–Ω–Ω—ã—Ö)

## –ò–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ –∏ –∑–∞–≥—Ä—É–∑–∏–º –¥–∞–Ω–Ω—ã–µ

In [1]:
import pandas as pd
import numpy as np
import os
import sys

from sklearn.preprocessing import StandardScaler, RobustScaler, OneHotEncoder, OrdinalEncoder
from sklearn.model_selection import train_test_split

In [2]:
# –ó–∞–≥—Ä—É–∑–∫–∞ –¥–∞–Ω–Ω—ã—Ö –∏–∑ data/raw/
data_path = os.path.join('..', 'data', 'raw', 'diabetes_dataset.csv')
df = pd.read_csv(data_path)
df

,age,gender,ethnicity,education_level,income_level,employment_status,smoking_status,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,...,hdl_cholesterol,ldl_cholesterol,triglycerides,glucose_fasting,glucose_postprandial,insulin_level,hba1c,diabetes_risk_score,diabetes_stage,diagnosed_diabetes
0,58,Male,Asian,Highschool,Lower-Middle,Employed,Never,0,215,5.7,...,41,160,145,136,236,6.36,8.18,29.6,Type 2,1
1,48,Female,White,Highschool,Middle,Employed,Former,1,143,6.7,...,55,50,30,93,150,2.00,5.63,23.0,No Diabetes,0
2,60,Male,Hispanic,Highschool,Middle,Unemployed,Never,1,57,6.4,...,66,99,36,118,195,5.07,7.51,44.7,Type 2,1
3,74,Female,Black,Highschool,Low,Retired,Never,0,49,3.4,...,50,79,140,139,253,5.28,9.03,38.2,Type 2,1
4,46,Male,White,Graduate,Middle,Retired,Never,1,109,7.2,...,52,125,160,137,184,12.74,7.20,23.5,Type 2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,46,Male,Other,Graduate,Upper-Middle,Unemployed,Former,1,136,8.3,...,45,150,116,113,109,14.58,5.55,26.0,Pre-Diabetes,0
99996,41,Female,White,Graduate,Middle,Employed,Never,3,76,8.8,...,55,123,146,96,146,9.02,5.97,24.4,Pre-Diabetes,0
99997,57,Female,Black,No formal,Upper-Middle,Employed,Former,4,121,9.9,...,50,111,184,93,132,2.57,5.21,27.6,No Diabetes,0
99998,47,Female,Black,Highschool,Lower-Middle,Retired,Never,3,52,5.9,...,68,91,116,106,117,9.81,5.53,26.4,Pre-Diabetes,0
99999,52,Female,White,Postgraduate,Middle,Employed,Never,1,248,2.7,...,31,183,87,91,142,15.93,5.73,27.9,Pre-Diabetes,0

In [3]:
TARGET = 'diagnosed_diabetes'

## –ê–Ω–∞–ª–∏–∑ –∏ –æ—á–∏—Å—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö

In [4]:
print("–ü—Ä–æ–≤–µ—Ä–∫–∞ –ø—Ä–æ–ø—É—Å–∫–æ–≤:")
print(df.isnull().sum())

–ü—Ä–æ–≤–µ—Ä–∫–∞ –ø—Ä–æ–ø—É—Å–∫–æ–≤:
age                                   0
gender                                0
ethnicity                             0
education_level                       0
income_level                          0
employment_status                     0
smoking_status                        0
alcohol_consumption_per_week          0
physical_activity_minutes_per_week    0
diet_score                            0
sleep_hours_per_day                   0
screen_time_hours_per_day             0
family_history_diabetes               0
hypertension_history                  0
cardiovascular_history                0
bmi                                   0
waist_to_hip_ratio                    0
systolic_bp                           0
diastolic_bp                          0
heart_rate                            0
cholesterol_total                     0
hdl_cholesterol                       0
ldl_cholesterol                       0
triglycerides                         0
glucose_fasting                       0
glucose_postprandial                  0
insulin_level                         0
hba1c                                 0
diabetes_risk_score                   0
diabetes_stage                        0
diagnosed_diabetes                    0
dtype: int64

–ü—Ä–æ–ø—É—Å–∫–æ–≤ –Ω–µ—Ç, –æ—á–µ–Ω—å —Ö–æ—Ä–æ—à–æ

In [5]:
numeric_features = df.select_dtypes(include=[np.number]).columns.tolist()

# –ò–ª–∏ –µ—Å–ª–∏ –Ω—É–∂–Ω–æ –∏—Å–∫–ª—é—á–∏—Ç—å —Ü–µ–ª–µ–≤—É—é –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é
numeric_features_without_target = [col for col in numeric_features if col != 'diagnosed_diabetes']
print(f"\nüìä –ß–∏—Å–ª–æ–≤—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ (–±–µ–∑ —Ü–µ–ª–µ–≤–æ–π): {len(numeric_features_without_target)}")
print(df[numeric_features_without_target].describe())

üìä –ß–∏—Å–ª–æ–≤—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏ (–±–µ–∑ —Ü–µ–ª–µ–≤–æ–π): 23
                age  alcohol_consumption_per_week  \
count  100000.00000                 100000.000000
mean       50.12041                      2.003670
std        15.60460                      1.417779
min        18.00000                      0.000000
25%        39.00000                      1.000000
50%        50.00000                      2.000000
75%        61.00000                      3.000000
max        90.00000                     10.000000

       physical_activity_minutes_per_week     diet_score  sleep_hours_per_day  \
count                       100000.000000  100000.000000        100000.000000
mean                           118.911640       5.994787             6.997818
std                             84.409662       1.780954             1.094622
min                              0.000000       0.000000             3.000000
25%                             57.000000       4.800000             6.300000
50%                            100.000000       6.000000             7.000000
75%                            160.000000       7.200000             7.700000
max                            833.000000      10.000000            10.000000

       screen_time_hours_per_day  family_history_diabetes  \
count              100000.000000            100000.000000
mean                    5.996468                 0.219410
std                     2.468406                 0.413849
min                     0.500000                 0.000000
25%                     4.300000                 0.000000
50%                     6.000000                 0.000000
75%                     7.700000                 0.000000
max                    16.800000                 1.000000

       hypertension_history  cardiovascular_history            bmi  ...  \
count         100000.000000           100000.000000  100000.000000  ...
mean               0.250800                0.079200      25.612653  ...
std                0.433476                0.270052       3.586705  ...
min                0.000000                0.000000      15.000000  ...
25%                0.000000                0.000000      23.200000  ...
50%                0.000000                0.000000      25.600000  ...
75%                1.000000                0.000000      28.000000  ...
max                1.000000                1.000000      39.200000  ...

          heart_rate  cholesterol_total  hdl_cholesterol  ldl_cholesterol  \
count  100000.000000      100000.000000    100000.000000    100000.000000
mean       69.632870         185.978110        54.042790       103.000430
std         8.371954          32.013005        10.267374        33.390256
min        40.000000         100.000000        20.000000        50.000000
25%        64.000000         164.000000        47.000000        78.000000
50%        70.000000         186.000000        54.000000       102.000000
75%        75.000000         208.000000        61.000000       126.000000
max       105.000000         318.000000        98.000000       263.000000

       triglycerides  glucose_fasting  glucose_postprandial  insulin_level  \
count  100000.000000     100000.00000         100000.000000  100000.000000
mean      121.462650        111.11712            160.035050       9.061242
std        43.372619         13.59561             30.935472       4.954060
min        30.000000         60.00000             70.000000       2.000000
25%        91.000000        102.00000            139.000000       5.090000
50%       121.000000        111.00000            160.000000       8.790000
75%       151.000000        120.00000            181.000000      12.450000
max       344.000000        172.00000            287.000000      32.220000

               hba1c  diabetes_risk_score
count  100000.000000        100000.000000
mean        6.520776            30.222362
std         0.813921             9.061505
min         4.000000             2.700000
25%         5.970000            23.800000
50%         6.520000            29.000000
75%         7.070000            35.600000
max         9.800000            67.200000

[8 rows x 23 columns]

## Feature Enginnering

–ß—Ç–æ –º—ã –±—É–¥–µ–º –¥–µ–ª–∞—Ç—å:

1. –ü–µ—Ä–≤–∏—á–Ω–∞—è –æ–±—Ä–∞–±–æ—Ç–∫–∞
     * `'age_category'`: 
          * –°–æ–∑–¥–∞–Ω–∏–µ –≤–æ–∑—Ä–∞—Å—Ç–Ω—ã—Ö –≥—Ä—É–ø–ø 
               * young - –º–æ–ª–æ–¥–æ–π
               * adult - –≤–∑—Ä–æ—Å–ª—ã–π
               * middle_aged - —Å—Ä–µ–¥–Ω–∏–π –≤–æ–∑—Ä–∞—Å—Ç
               * elderly - –ø–æ–∂–∏–ª–æ–π
     * `'bmi_category'` 
          * –ú–µ–¥–∏—Ü–∏–Ω—Å–∫–∏–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏ BMI
               * underweight - –Ω–µ–¥–æ—Å—Ç–∞—Ç–æ—á–Ω—ã–π –≤–µ—Å
               * normal - –Ω–æ—Ä–º–∞–ª—å–Ω—ã–π –≤–µ—Å
               * overweight - –∏–∑–±—ã—Ç–æ—á–Ω—ã–π –≤–µ—Å
               * obese - –æ–∂–∏—Ä–µ–Ω–∏–µ
     * `'glucose_risk'`
          * –ö–æ–º–±–∏–Ω–∏—Ä–æ–≤–∞–Ω–Ω—ã–π —Ä–∏—Å–∫ –ø–æ –≥–ª—é–∫–æ–∑–µ (–Ω–æ—Ä–º–∞, –ø—Ä–µ–¥–¥–∏–∞–±–µ—Ç, –¥–∏–∞–±–µ—Ç) + HbA1c
     * `'lifestyle_score'` 
          * –ö–æ–º–ø–æ–∑–∏—Ç–Ω—ã–π –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å –æ–±—Ä–∞–∑–∞ –∂–∏–∑–Ω–∏ (–¥–∏–µ—Ç–∞ + –∞–∫—Ç–∏–≤–Ω–æ—Å—Ç—å + —Å–æ–Ω - –∞–ª–∫–æ–≥–æ–ª—å - –∫—É—Ä–µ–Ω–∏–µ)
2. –ö–æ–¥–∏—Ä–æ–≤–∞–Ω–∏–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤
     * `OneHotEncoder`: [`'gender'`, `'ethnicity'`, `'employment_status'`, `'diabetes_stage'`]
          * –ü—Ä–∏–∑–Ω–∞–∫–∏ –±–µ–∑ –µ—Å—Ç–µ—Å—Ç–≤–µ–Ω–Ω–æ–π –∏–µ—Ä–∞—Ä—Ö–∏–∏
          * –°–æ—Ö—Ä–∞–Ω—è–µ—Ç –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ –≤—Å–µ—Ö –∫–∞—Ç–µ–≥–æ—Ä–∏—è—Ö
     * 'OrdinalEncoder':
          * `'education_level'`: Primary(0) < Secondary(1) < Undergraduate(2) < Postgraduate(3)
          * `'income_level'`: Low(0) < Medium(1) < High(2)
          * `'smoking_status'`: Never(0) < Former(1) < Current(2)
          * –°–æ—Ö—Ä–∞–Ω—è–µ—Ç –µ—Å—Ç–µ—Å—Ç–≤–µ–Ω–Ω—ã–π –ø–æ—Ä—è–¥–æ–∫ –∏ –ª–æ–≥–∏—á–Ω–æ—Å—Ç—å –∏–∑–º–µ–Ω–µ–Ω–∏—è
3. –ú–∞—Å—à—Ç–∞–±–∏—Ä–æ–≤–∞–Ω–∏–µ —á–∏—Å–ª–æ–≤—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤
   * `StandardScaler`: [`'age'`, `'bmi'`, `'cholesterol_total'`, `'blood_pressure'`, `'heart_rate'`]
        * –ü—Ä–∏–∑–Ω–∞–∫–∏ —Å –Ω–æ—Ä–º–∞–ª—å–Ω—ã–º —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ–º
        * –°—Ç–∞–Ω–¥–∞—Ä—Ç–∏–∑–∞—Ü–∏—è –¥–ª—è –ª–∏–Ω–µ–π–Ω—ã—Ö –º–æ–¥–µ–ª–µ–π
   * `RobustScaler`: [`'glucose_fasting'`, `'glucose_postprandial'`, `'hba1c'`, `'insulin_level'`]
        * –ú–µ–¥–∏—Ü–∏–Ω—Å–∫–∏–µ –ø–æ–∫–∞–∑–∞—Ç–µ–ª–∏ —Å –≤–æ–∑–º–æ–∂–Ω—ã–º–∏ –≤—ã–±—Ä–æ—Å–∞–º–∏
        * –£—Å—Ç–æ–π—á–∏–≤ –∫ –∞–Ω–æ–º–∞–ª–∏—è–º

In [6]:
# —Å–æ–∑–¥–∞–¥–∏–º –∫–æ–ø–∏—é –¥–∞–Ω–Ω—ã—Ö –¥–ª—è –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–∏–π
df_processed = df.copy()

### –ü–µ—Ä–≤–∏—á–Ω–∞—è –æ–±—Ä–∞–±–æ—Ç–∫–∞

In [7]:
df_processed['age_category'] = pd.cut(df_processed['age'], 
                           bins=[0, 35, 50, 65, 100],
                           labels=['young', 'adult', 'middle_aged', 'elderly'])

–°–¥–µ–ª–∞–µ–º –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å BMI –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–º

![BMI_—Ä–∞—Å—à–∏—Ñ—Ä–æ–≤–∫–∞](..\data\images\eda\bmi_values.png)

In [8]:
df_processed['bmi_category'] = pd.cut(df_processed['bmi'],
                           bins=[0, 18.5, 25, 30, 100],
                           labels=['underweight', 'normal', 'overweight', 'obese'])

–û–±–æ—Å–Ω–æ–≤–∞–Ω–æ—Å—Ç—å —Å–æ–∑–¥–∞–Ω–∏—è –ø–∞—Ä–∞–º–µ—Ç—Ä–∞ —Ä–∏—Å–∫–∞ –ø–æ –≥–ª—é–∫–æ–∑–µ –≤—ã –º–æ–∂–µ—Ç–µ –ø—Ä–æ—á–∏—Ç–∞—Ç—å –≤ —ç—Ç–æ–π [—Å—Ç–∞—Ç—å–µ](https://kdl.ru/patient/blog/diabet-pod-kontrolem)

In [9]:
def get_glucose_risk(row):
    if row['glucose_fasting'] < 100 and row['hba1c'] < 5.7:
        return 'normal'
    elif row['glucose_fasting'] < 126 and row['hba1c'] < 6.5:
        return 'prediabetes'
    else:
        return 'diabetes'
    
df_processed['glucose_risk'] = df_processed.apply(get_glucose_risk, axis=1)

–°–æ–∑–¥–∞–¥–∏–º —Ç–∞–∫-–∂–µ —Å–æ—Å—Ç–∞–≤–Ω–æ–π –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å –¥–ª—è –ø—Ä–µ–¥—Å—Ç–∞–≤–ª–µ–Ω–∏—è —É—Ä–æ–≤–Ω—è –∑–¥–æ—Ä–æ–≤–æ–≥–æ –æ–±—Ä–∞–∑–∞ –∂–∏–∑–Ω–∏ —á–µ–ª–æ–≤–µ–∫–∞.
(—ç–∫—Å–ø–µ—Ä–µ–º–µ–Ω—Ç–∞–ª—å–Ω—ã–π –ø–∞—Ä–∞–º–µ—Ç—Ä)

In [10]:
df_processed['lifestyle_score'] = (
    df_processed['diet_score'] + 
    (df_processed['physical_activity_minutes_per_week'] / 100) +
    df_processed['sleep_hours_per_day'] -
    (df_processed['alcohol_consumption_per_week'] * 2) -
    (df_processed['screen_time_hours_per_day'] * 0.5)
)

### –ö–æ–¥–∏—Ä–æ–≤–∞–Ω–∏–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤

–ò—Å–ø–æ–ª—å–∑—É–µ–º `OneHotEncoder`

In [11]:
onehot_columns = ['gender', 'ethnicity', 'employment_status', 'diabetes_stage']
print(f"OneHot –∫–æ–¥–∏—Ä–æ–≤–∞–Ω–∏–µ –¥–ª—è: {onehot_columns}")

onehot_encoder = OneHotEncoder(sparse_output=False, drop='first')
onehot_encoded = onehot_encoder.fit_transform(df_processed[onehot_columns])

# —Å–æ–∑–¥–∞–µ–º DataFrame —Å one-hot –ø—Ä–∏–∑–Ω–∞–∫–∞–º–∏
onehot_feature_names = onehot_encoder.get_feature_names_out(onehot_columns)
df_onehot = pd.DataFrame(onehot_encoded, columns=onehot_feature_names, index=df_processed.index)

# —É–¥–∞–ª—è–µ–º –∏—Å—Ö–æ–¥–Ω—ã–µ –∫–æ–ª–æ–Ω–∫–∏ –∏ –¥–æ–±–∞–≤–ª—è–µ–º one-hot
df_processed = df_processed.drop(onehot_columns, axis=1)
df_processed = pd.concat([df_processed, df_onehot], axis=1)

print(f"–î–æ–±–∞–≤–ª–µ–Ω–æ {len(onehot_feature_names)} –Ω–æ–≤—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤")
print(f"–†–∞–∑–º–µ—Ä –Ω–æ–≤—ã—Ö –¥–∞–Ω–Ω—ã—Ö: {df_processed.shape}")

OneHot –∫–æ–¥–∏—Ä–æ–≤–∞–Ω–∏–µ –¥–ª—è: ['gender', 'ethnicity', 'employment_status', 'diabetes_stage']
–î–æ–±–∞–≤–ª–µ–Ω–æ 13 –Ω–æ–≤—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤
–†–∞–∑–º–µ—Ä –Ω–æ–≤—ã—Ö –¥–∞–Ω–Ω—ã—Ö: (100000, 44)

–ò—Å–ø–æ–ª—å–∑—É–µ–º `OrdinalEncoder`

In [12]:
df_processed['education_level'].unique()

array(['Highschool', 'Graduate', 'Postgraduate', 'No formal'],
      dtype=object)

In [13]:
ordinal_columns = ['education_level', 'income_level', 'smoking_status']
education_order = ['No formal', 'Highschool', 'Graduate', 'Postgraduate']
income_order = ['Lower-Middle', 'Middle', 'Low', 'Upper-Middle', 'High']
smoking_order = ['Never', 'Former', 'Current']

print(f"Ordinal –∫–æ–¥–∏—Ä–æ–≤–∞–Ω–∏–µ –¥–ª—è: {ordinal_columns}")

ordinal_encoder_edu = OrdinalEncoder(categories=[education_order])
df_processed['education_level_encoded'] = ordinal_encoder_edu.fit_transform(df_processed[['education_level']])

ordinal_encoder_inc = OrdinalEncoder(categories=[income_order])
df_processed['income_level_encoded'] = ordinal_encoder_inc.fit_transform(df_processed[['income_level']])

ordinal_encoder_smk = OrdinalEncoder(categories=[smoking_order])
df_processed['smoking_status_encoded'] = ordinal_encoder_smk.fit_transform(df_processed[['smoking_status']])
print(f"–†–∞–∑–º–µ—Ä –Ω–æ–≤—ã—Ö –¥–∞–Ω–Ω—ã—Ö: {df_processed.shape}")

Ordinal –∫–æ–¥–∏—Ä–æ–≤–∞–Ω–∏–µ –¥–ª—è: ['education_level', 'income_level', 'smoking_status']
–†–∞–∑–º–µ—Ä –Ω–æ–≤—ã—Ö –¥–∞–Ω–Ω—ã—Ö: (100000, 47)

### –ú–∞—Å—à—Ç–∞–±–∏—Ä–æ–≤–∞–Ω–∏–µ —á–∏—Å–ª–æ–≤—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤

StandardScaler

In [14]:
standard_columns = ['age', 'bmi', 'cholesterol_total', 'heart_rate']
print(f"StandardScaler –¥–ª—è: {standard_columns}")

standard_scaler = StandardScaler()
df_processed[standard_columns] = standard_scaler.fit_transform(df_processed[standard_columns])

print(f"\n–ú–∞—Å—à—Ç–∞–±–∏—Ä–æ–≤–∞–Ω–∏–µ –∑–∞–≤–µ—Ä—à–µ–Ω–æ. –î–∏–∞–ø–∞–∑–æ–Ω—ã:")
for col in standard_columns:
    print(f"  {col:20}: {df_processed[col].min():.1f} - {df_processed[col].max():.1f}")

StandardScaler –¥–ª—è: ['age', 'bmi', 'cholesterol_total', 'heart_rate']

–ú–∞—Å—à—Ç–∞–±–∏—Ä–æ–≤–∞–Ω–∏–µ –∑–∞–≤–µ—Ä—à–µ–Ω–æ. –î–∏–∞–ø–∞–∑–æ–Ω—ã:
  age                 : -2.1 - 2.6
  bmi                 : -3.0 - 3.8
  cholesterol_total   : -2.7 - 4.1
  heart_rate          : -3.5 - 4.2

RobustScaler

In [15]:
robust_columns = ['glucose_fasting', 'glucose_postprandial', 'hba1c', 'insulin_level']
print(f"RobustScaler –¥–ª—è: {robust_columns}")

robust_scaler = RobustScaler()
df_processed[robust_columns] = robust_scaler.fit_transform(df_processed[robust_columns])

print(f"\n–ú–∞—Å—à—Ç–∞–±–∏—Ä–æ–≤–∞–Ω–∏–µ –∑–∞–≤–µ—Ä—à–µ–Ω–æ. –î–∏–∞–ø–∞–∑–æ–Ω—ã:")
for col in robust_columns:
    print(f"  {col:20}: {df_processed[col].min():.1f} - {df_processed[col].max():.1f}")

RobustScaler –¥–ª—è: ['glucose_fasting', 'glucose_postprandial', 'hba1c', 'insulin_level']

–ú–∞—Å—à—Ç–∞–±–∏—Ä–æ–≤–∞–Ω–∏–µ –∑–∞–≤–µ—Ä—à–µ–Ω–æ. –î–∏–∞–ø–∞–∑–æ–Ω—ã:
  glucose_fasting     : -2.8 - 3.4
  glucose_postprandial: -2.1 - 3.0
  hba1c               : -2.3 - 3.0
  insulin_level       : -0.9 - 3.2

### –£–¥–∞–ª–µ–Ω–∏–µ –Ω–µ–Ω—É–∂–Ω—ã—Ö —Å—Ç–æ–ª–±—Ü–æ–≤ –∏ –≤—ã–±—Ä–æ—Å–æ–≤

–°–Ω–∞—á–∞–ª–æ –ø–æ—Å–º–æ—Ç—Ä–∏–º –∫–∞–∫–∏–µ —É –Ω–∞—Å –µ—Å—Ç—å —Å—Ç–æ–ª–±—Ü—ã –Ω–∞ –¥–∞–Ω–Ω—ã–π –º–æ–º–µ–Ω—Ç:

In [16]:
columns = df_processed.columns.tolist()

for i in range(0, len(columns), 3):
    # —Ñ–æ—Ä–º–∞—Ç–∏—Ä—É–µ–º –≤—ã–≤–æ–¥ –¥–ª—è –ª—É—á—à–µ–π —á–∏—Ç–∞–µ–º–æ—Å—Ç–∏
    row_columns = columns[i:i+3]
    formatted_columns = []
    
    for col in row_columns:
        # –û–±—Ä–µ–∑–∞–µ–º –¥–ª–∏–Ω–Ω—ã–µ –Ω–∞–∑–≤–∞–Ω–∏—è –¥–ª—è —É–¥–æ–±—Å—Ç–≤–∞ —á—Ç–µ–Ω–∏—è
        if len(col) > 25:
            col_display = col[:20] + "..."
        else:
            col_display = col
        formatted_columns.append(f"{col_display:<25}")
    
    print("  ".join(formatted_columns))

age                        education_level            income_level
smoking_status             alcohol_consumption_...    physical_activity_mi...
diet_score                 sleep_hours_per_day        screen_time_hours_per_day
family_history_diabetes    hypertension_history       cardiovascular_history
bmi                        waist_to_hip_ratio         systolic_bp
diastolic_bp               heart_rate                 cholesterol_total
hdl_cholesterol            ldl_cholesterol            triglycerides
glucose_fasting            glucose_postprandial       insulin_level
hba1c                      diabetes_risk_score        diagnosed_diabetes
age_category               bmi_category               glucose_risk
lifestyle_score            gender_Male                gender_Other
ethnicity_Black            ethnicity_Hispanic         ethnicity_Other
ethnicity_White            employment_status_Retired  employment_status_Student
employment_status_Un...    diabetes_stage_No Di...    diabetes_stage_Pre-D...
diabetes_stage_Type 1      diabetes_stage_Type 2      education_level_encoded
income_level_encoded       smoking_status_encoded

–£–¥–∞–ª–∏–º –∏—Å—Ö–æ–¥–Ω—ã–µ –Ω–µ –Ω—É–∂–Ω—ã–µ —Å—Ç–æ–ª–±—Ü—ã

In [17]:
print(f"–ö–æ–ª. —Ñ–∏—á –ø–µ—Ä–µ–¥ —É–¥–∞–ª–µ–Ω–∏–µ–º: {len(df_processed.columns)}")

columns_to_drop = [
    'education_level', 'income_level', 'smoking_status',  # –∏—Å—Ö–æ–¥–Ω—ã–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–µ
    'age_category', 'bmi_category', 'glucose_risk',       # —Å–æ–∑–¥–∞–Ω–Ω—ã–µ –Ω–∞–º–∏ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏
    'diabetes_risk_score'                                 # –∞–≥—Ä–µ–≥–∏—Ä–æ–≤–∞–Ω–Ω—ã–π –ø–æ–∫–∞–∑–∞—Ç–µ–ª—å
]

df_processed = df_processed.drop(columns_to_drop, axis=1)

print(f"–ö–æ–ª. —Ñ–∏—á –ø–æ—Å–ª–µ —É–¥–∞–ª–µ–Ω–≥–∏—è: {len(df_processed.columns)}")

–ö–æ–ª. —Ñ–∏—á –ø–µ—Ä–µ–¥ —É–¥–∞–ª–µ–Ω–∏–µ–º: 47
–ö–æ–ª. —Ñ–∏—á –ø–æ—Å–ª–µ —É–¥–∞–ª–µ–Ω–≥–∏—è: 40

## –†–∞–∑–¥–µ–ª–µ–Ω–∏–µ –∏ —Å–æ—Ö—Ä–∞–Ω–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

In [18]:
X = df_processed.drop([TARGET], axis=1)
y = df_processed[TARGET]

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

print(f"–ò—Ç–æ–≥ —Ä–∞–∑–¥–µ–Ω–∏—è:\n")
print(f"   X_train: {X_train.shape}")
print(f"   X_test:  {X_test.shape}\n")
print(f"   y_train: {y_train.shape}")
print(f"   y_test:  {y_test.shape}")

–ò—Ç–æ–≥ —Ä–∞–∑–¥–µ–Ω–∏—è:

   X_train: (80000, 39)
   X_test:  (20000, 39)

   y_train: (80000,)
   y_test:  (20000,)

In [19]:
os.makedirs('../data/processed', exist_ok=True)

X_train.to_csv('../data/processed/X_train.csv', index=False)
X_test.to_csv('../data/processed/X_test.csv', index=False)
y_train.to_csv('../data/processed/y_train.csv', index=False)
y_test.to_csv('../data/processed/y_test.csv', index=False)